.nav {
  align-content: space-between;
  background-color: #696969;
}

.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.nav__list__item {
  list-style: none;
  padding: 0 1rem;
}

.nav__list__item__link {
  text-decoration: none;
  color: #d3d3d3;
}
